
/* 가운데영역 */
.container{width: 1200px; margin: 0 auto;}

/* header */
#header{padding: 0 24px; height: 64px; display: flex; align-items: center;}
#header .logo{margin-right: 48px;}
#header .logo h1 a{display: block;}
#header nav .depth1{display: flex; gap: 0 48px; align-items: center;}
#header nav .depth1 li a{font-weight: 500; color: #000; font-size: 16px;}
#header .link_wrap{position: absolute; right:24px; display: flex; align-items: center;}
#header .link_wrap a{display: block; transition: all .3s;} 
#header .link_wrap .my{position: relative; margin-right: 48px; font-size: 16px; font-weight: 500; color: #737373;}
#header .link_wrap .my::after{content: ''; position: absolute; top:1px; right:-24px; height: 16px; width: 1px; background-color: #E6E8EB;}
#header .link_wrap .home{width: 97px; height: 36px; line-height: 34px; margin-right: 8px; font-size: 14px; color: #424242; font-weight: 500; border: 1px solid #D1D5D9; border-radius: 50px; text-align: center;}
#header .link_wrap .admin{width: 109px; height: 36px; line-height: 34px; font-size: 14px; color: #424242; font-weight: 500; border: 1px solid #D1D5D9; border-radius: 50px; text-align: center;}
#header .link_wrap a:not(.my):hover{color: #1B54FE; border-color:#1B54FE ;}

/* main */
main{padding: 100px 0 160px;}
main #mypage_wrap aside{padding: 0 24px; width: 384px; min-height: 765px; border: 1px solid #E6E8EB; border-radius: 8px;} 
main #mypage_wrap .mypage{display: flex; gap: 0 21px; align-items: flex-start;} 
main #mypage_wrap .mypage .top{position: relative; padding: 44px 0 0; height: 267px; margin: 32px 0 24px 0; text-align: center;}
main #mypage_wrap .mypage .top span.regular_member{position: absolute; top:0; right:0; display: block; width: 48px; height: 28px; line-height: 26px; text-align: center; border: 1px solid #F9D0C6;background-color: #FEF7F6; font-size: 12px; color: #F56D4C; font-weight: 500; border-radius: 4px;}
main #mypage_wrap .mypage .top .img{display: inline-block; position: relative; margin-bottom: 26px;}
main #mypage_wrap .mypage .top .img img{margin: 0 auto;}
main #mypage_wrap .mypage .top .img a{position: absolute; bottom: 0; right:0; width: 30px; height: 30px; background: url(../images/my/edit.svg)no-repeat;}

main #mypage_wrap .mypage .top .mail{display: block;margin-bottom: 6px;  font-size: 14px; color: #737373; line-height: 16px;}
main #mypage_wrap .mypage .top h3{margin-bottom: 6px; font-size: 24px; font-weight: 700; color: #424242; line-height: 28px;}
main #mypage_wrap .mypage .top .box{display: flex; gap: 0 25px; justify-content: center; align-items: center;}
main #mypage_wrap .mypage .top .box em{display: block; color: #737373; font-size: 14px; line-height: 16px;}
main #mypage_wrap .mypage .top .box .admin_text{display: block; position: relative; color: #36B6B0; font-weight: 700; font-size: 14px; line-height: 16px;}
main #mypage_wrap .mypage .top .box .admin_text::before{content: '';  position: absolute; left: -14px; top:7px; width: 3px; height: 3px; border-radius: 50px; background-color: #36B6B0;}
main #mypage_wrap .mypage .top .box .admin_text:hover{text-decoration: underline;}
main #mypage_wrap .mypage .depth1{padding: 35px 0; border: 1px solid #E6E8EB; border-width: 1px 0;}
main #mypage_wrap .mypage .depth1 li{margin-bottom: 38px;}
main #mypage_wrap .mypage .depth1 li:last-child{margin-bottom: 0;}
main #mypage_wrap .mypage .depth1 li a{display: block; font-size: 18px; font-weight: 600; color: #000; }
main #mypage_wrap .mypage .link{padding: 28px 0 31px; }
main #mypage_wrap .mypage .link li{margin-bottom: 24px;}
main #mypage_wrap .mypage .link li:last-child{margin-bottom: 0;}
main #mypage_wrap .mypage .link li a{display: block; font-weight: 500; color: #737373; font-size: 16px; line-height: 24px;} 
main #mypage_wrap section{width: 100%;}
main #mypage_wrap section article:nth-last-of-type(1){margin-bottom: 25px;}
main #mypage_wrap section article{position: relative; margin-bottom: 50px; padding: 16px 0 0; border-top: 2px solid #808991; }
main #mypage_wrap section article h4{margin-bottom: 16px; font-size: 18px; font-weight: 600; line-height: 21px;}
main #mypage_wrap section article .box{padding: 3px 24px 12px; border: 1px solid #E6E8EB; border-radius: 8px;}
main #mypage_wrap section article .box dl{position: relative; display: flex; height: 56px; align-items: center; border-bottom: 1px solid #E6E8EB;}
main #mypage_wrap section article .box dl:last-child{border-bottom: 0;}
main #mypage_wrap section article .box dl dt{width: 150px; flex-shrink: 0; color: #737373; font-size: 16px;}
main #mypage_wrap section article .box dl dd{width: 100%; position: relative; font-size: 16px; color: #000; line-height: 24px;}
main #mypage_wrap section article .box .com_btn1{position: absolute; top: 50%; transform: translateY(-50%); right:0;  display: block; font-size: 13px; font-weight: 500; color: #424242; padding: 0 12px; height: 28px; line-height: 26px; border-radius: 50px; border: 1px solid #D1D5D9;}
main #mypage_wrap section article .box .com_btn1::before{content: ''; position: absolute; top:0; left:0; width: 0;background-color: #000; transition: all .3s; z-index: 1; border-radius: 50px;}
main #mypage_wrap section article .box .com_btn1:hover{color: #fff; border: 0;}
main #mypage_wrap section article .box .com_btn1:hover::before{width: 100%; height: 100%; z-index: -1;}
main #mypage_wrap section article .com_link1{padding-right: 18px; position: absolute; right:0; top:20px; font-size: 14px; font-weight: 500; color: #000;}
main #mypage_wrap section article .com_link1::after{content: ''; position: absolute; top: 50%; right:0; transform: translateY(-50%); background: url(../images/my/arrow_icon1.svg)no-repeat; width: 6px; height: 10px; }
main #mypage_wrap section .info_text li{position: relative; padding-left: 20px; font-size: 13px; color: #737373; line-height: 24px;}
/*
main #mypage_wrap section .info_text li::before{content: ''; position: absolute; top:0; left:0; width: 3px; height: 3px; border-radius: 50px; background-color: #737373;}
*/

/* footer */
#footer{padding-top: 32px; border-top: 1px solid #F2F4F5;}
#footer .footer_top{position: relative; display: flex; height: 243px; border-bottom: 1px solid #F2F4F5;}
#footer .footer_top .box h2{margin-bottom: 16px; font-weight: 700; color: #000; font-size: 16px; line-height: 19px;}
#footer .footer_top .contact strong{display: block; margin-bottom: 16px; font-size: 20px; font-weight: 700; color: #000; line-height: 23px;}
#footer .footer_top .contact{margin-right: 163px;}
#footer .footer_top .contact p{color: #737373; font-size: 14px; line-height: 22px;}
#footer .footer_top .about{margin-right: 224px;}
#footer .footer_top .about ul li a{display: block;}
#footer .footer_top .about ul li a,
#footer .footer_top .mail ul li{margin-bottom: 22px; font-size: 14px; font-weight: 500; color: #737373;}
#footer .footer_top .about ul li:last-child a,
#footer .footer_top .mail ul li:last-child{margin-bottom: 0;}
#footer .footer_top .family{position: absolute; right:0;}
#footer .footer_top .family .site a{position: relative; padding-left: 12px; width: 160px; height: 36px; line-height: 34px; display: block; border: 1px solid #D1D5D9; border-radius: 4px; font-size: 14px; color: #424242;}
#footer .footer_top .family .site a::after{content: ''; position: absolute; top:50%; transform: translateY(-50%); right:16px; width: 14px; height: 8px; background: url(../images/common/arrow_icon1.svg)no-repeat;}
#footer .footer_bottom{position: relative; padding-top: 24px; height: 172px;}
#footer .footer_bottom .logo{margin-bottom: 20px;}
#footer .footer_bottom .link{display: flex; gap: 0 24px;margin-bottom: 20px;} 
#footer .footer_bottom .link li a.policy{color: #000;}
#footer .footer_bottom .link li a{display: block; font-size: 14px; font-weight: 500; color: #737373;} 
#footer .footer_bottom .info{margin-bottom: 4px; display: flex; gap: 0 30px;}
#footer .footer_bottom .info li{position: relative; font-size: 14px; color: #616161; line-height: 22px;}
#footer .footer_bottom .info li::after{content: ''; position: absolute; right:-16px; top:5px; width: 1px; height: 12px; background-color: #ddd;}
#footer .footer_bottom .info li:last-child::after{display: none;}
#footer .footer_bottom  > span{font-size: 14px; color: #000; line-height: 16px;}
#footer .footer_bottom .sns{position: absolute; top: 20px; right:0; display: flex; align-items: center;}
#footer .footer_bottom .sns li a{display: block; transition: all .3s;}
#footer .footer_bottom .sns li a:hover{transform: translateY(-7px);}
#footer .footer_bottom .sns li.icon1{margin-right: 31px;}
#footer .footer_bottom .sns li.icon1 a{width: 24px; height: 24px; background: url(../images/common/blog.svg)no-repeat;}
#footer .footer_bottom .sns li.icon2{margin-right: 31px;}
#footer .footer_bottom .sns li.icon2 a{width: 10px; height: 19px; background: url(../images/common/facebook.svg)no-repeat;}
#footer .footer_bottom .sns li.icon3{margin-right: 25px;}
#footer .footer_bottom .sns li.icon3 a{width: 24px; height: 24px; background: url(../images/common/instagram.svg)no-repeat;}
#footer .footer_bottom .sns li.icon4{margin-right: 25px;}
#footer .footer_bottom .sns li.icon4 a{width: 24px; height: 24px; background: url(../images/common/youtube.svg)no-repeat;}
#footer .footer_bottom .sns li.icon5 a{width: 18px; height: 20px; background: url(../images/common/brunch.svg)no-repeat;}

/* 내 정보 수정 */
#mypage_wrap .my_page2{display: block; width: 488px; margin: 0 auto;}
#mypage_wrap .my_page2 .my_com_wrap1{margin-bottom: 24px; padding-bottom: 24px; border-bottom: 8px solid #F2F4F5;}
#mypage_wrap .my_page2 h1{margin-bottom: 50px; font-size: 36px; color: #000; line-height: 43px; text-align: center;}
#mypage_wrap .my_page2 .input_text_box{margin-bottom: 24px;}
#mypage_wrap .my_page2 .input_text_box label{display: block; margin-bottom: 7px; font-size: 14px; color: #737373; font-weight: 500;}
#mypage_wrap .my_page2 .input_text_box input{padding-left: 14px; width: 100%; height: 48px; background-color: #E6E8EB; 
    border: 1px solid #D1D5D9; border-radius: 4px; font-size: 14px; color: #737373; line-height: 16px;}
.com_btn2{display: flex; align-items: center; justify-content: center; height: 56px; background: #36B6B0; border-radius: 4px; color: #fff; font-size: 17px; font-weight: 600;}
#mypage_wrap .my_page2 .no_link{font-size: 14px; color: #737373; font-weight: 500; text-decoration: underline; line-height: 16px;}

/* 비밀번호 변경 */
#mypage_wrap .pw_wrap .input_text_box input{background-color: #fff; color: #9E9E9E;}
#mypage_wrap .pw_wrap .input_text_box:nth-of-type(2) input{margin-bottom: 8px;}
#mypage_wrap .pw_wrap .input_text_box:nth-of-type(2){margin-bottom: 50px;}

/* 회원탈퇴 */
#mypage_wrap .secession_wrap .secession_text h2{margin-bottom: 16px; font-size: 24px; color: #000; font-weight: 700; line-height: 32px;}
#mypage_wrap .secession_wrap .secession_text p{margin-bottom: 61px; font-size: 14px; line-height: 24px; color: #737373;}

/* 멤버십 해지 */
#mypage_wrap .membership_wrap h2{margin-bottom: 16px; font-size: 24px; color: #000; font-weight: 700; line-height: 32px;}
#mypage_wrap .membership_wrap .membership_list li{margin-bottom: 8px;}
#mypage_wrap .membership_wrap .membership_list li:last-child{margin-bottom: 24px;}
#mypage_wrap .membership_wrap .membership_list li a{padding-left: 18px; display: flex; align-items: center; height: 90px; border: 1px solid #E6E8EB; border-radius: 8px;}
#mypage_wrap .membership_wrap .membership_list li a h3{font-size: 16px; color: #000; font-weight: 600; margin-bottom: 6px; line-height: 19px;}
#mypage_wrap .membership_wrap .membership_list li a span{font-size: 14px; color: #737373; line-height: 16px;}
#mypage_wrap .membership_wrap .membership_list li a label{position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;  padding-left: 38px; cursor: pointer;}
#mypage_wrap .membership_wrap .membership_list li a label::before{content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 20px; height: 20px; border-radius: 50px; border: 1px solid #D1D5D9;}
#mypage_wrap .membership_wrap .membership_list li a label::after{display: none; content: ''; position: absolute; top:38px; left:5px; width: 12px; height: 12px; border-radius: 50px; background-color: #36B6B0;}
#mypage_wrap .membership_wrap .membership_list li a input:checked + label::before{ border: 1px solid #36B6B0;}
#mypage_wrap .membership_wrap .membership_list li a input:checked + label::after{display: block;}
#mypage_wrap .membership_wrap .membership_info{position: relative; display: inline-block; margin-bottom:50px; padding-right: 23px;  font-size: 14px; font-weight: 500; line-height: 17px; color: #737373;}
#mypage_wrap .membership_wrap .membership_info::after{content: ''; position: absolute; top: 50%; transform: translateY(-50%); right:0; width: 18px; height: 18px; background: url(../images/my/membership_icon.svg)no-repeat;}

/* 멤버십 해지 신청 안내 */
#mypage_wrap .membership_wrap .membership_text{margin-bottom: 25px; font-size: 14px; line-height: 24px; color: #737373;}
#mypage_wrap .membership_wrap .com_check_box{margin-bottom: 16px;}
#mypage_wrap .membership_wrap .com_check_box:nth-last-of-type(1){margin-bottom: 22px!important;}
#mypage_wrap .membership_wrap .com_check_box .agree_text::after{content: ''; position: absolute; top: 6px; right:-19px; background: url(../images/my/arrow_icon1.svg)no-repeat; width: 6px; height: 10px;}
#mypage_wrap .membership_wrap .com_check_box .color{color: #F56D4C;}

/* 결제수단 변경 */
#mypage_wrap .payment_method_wrap span{display: block; margin-bottom: 16px; font-size: 16px; color: #000; font-weight: 700; line-height: 19px;}
#mypage_wrap .payment_method_wrap .payment_method_list{margin-bottom: 24px; display: flex; gap: 0 8px; height: 56px;}
#mypage_wrap .payment_method_wrap .payment_method_list li{flex: 1;}
#mypage_wrap .payment_method_wrap .payment_method_list li a{display: flex; height: 100%; align-items: center; justify-content: center; font-size: 17px; font-weight: 600; line-height: 20px; border-radius: 4px;}
#mypage_wrap .payment_method_wrap .payment_method_list li a.card{background-color: #fff; color: #000; border: 1px solid #D1D5D9;}
#mypage_wrap .payment_method_wrap .payment_method_list li a.pay{background-color: #303538; color: #fff;}

/* 이메일 변경 */
#mypage_wrap .email_change_wrap .input_text_box{position: relative; font-size: 0;}
#mypage_wrap .email_change_wrap .input_text_box:nth-of-type(2){margin-bottom: 50px;}
#mypage_wrap .email_change_wrap .number_box{position: relative; margin-right: 8px; display: inline-block; width: 80.3%;}
#mypage_wrap .email_change_wrap .number_box span{position: absolute; top: 50%; transform: translateY(-50%); right:14px; font-size: 14px; color: #36B6B0; line-height: 16px; font-weight: 700;}
#mypage_wrap .email_change_wrap .number_box input{width: 100%!important;}
#mypage_wrap .email_change_wrap .input_text_box a{display: inline-block; width: 88px; height: 48px; line-height: 46px; text-align: center; font-size: 16px; font-weight: 500; border-radius: 4px; border: 1px solid #D1D5D9; vertical-align: top;} 
#mypage_wrap .email_change_wrap .input_text_box input{margin-right: 8px; display: inline-block; width: 80.3%; background-color: #fff;}

/* 멤버십 해지 신청 */
.com_select_box{}
.com_select_box span{margin-bottom: 16px; display: block; font-size: 16px; color: #000; font-weight: 700; line-height: 19px;}
.com_select_box .com_select{position: relative;}
.com_select_box .com_select > a{display: block; padding-left: 14px; height: 48px; line-height: 46px; border-radius: 4px; border: 1px solid #D1D5D9; font-size: 14px; color: #000; background: url(../images/my/arrow_icon2.svg)no-repeat 462px center;}
.com_select_box .com_select .view{display: none; padding: 4px; position: absolute; top:51px; left:0; right:0; z-index: 9; background-color: #fff;}
.com_select_box .com_select .view{border: 1px solid #D1D5D9; border-radius: 4px;}
.com_select_box .com_select .view li{margin-bottom: 2px;}
.com_select_box .com_select .view li a{display: block; position: relative; padding-left: 10px; height: 36px; line-height: 34px; font-size: 14px; color: #000; }
.com_select_box .com_select .view li a:hover{color:#31A49E; font-weight: 600; background-color: #F3FBFA;}
.com_select_box .com_select .view li a:hover::after{content: ''; position: absolute; top: 50%; transform: translateY(-50%); right:16px; width: 14px; height: 8px; background: url(../images/my/arrow_icon3.svg)no-repeat;}
.com_textarea_box{}
.com_textarea_box em{display: block; margin: 8px 0 48px; font-size: 14px; line-height: 16px; color: #424242; text-align: right;}
.com_textarea_box span{margin-bottom: 16px; display: block; font-size: 16px; color: #000; font-weight: 700; line-height: 19px;}
.com_textarea_box textarea{width: 100%; height: 104px; padding: 16px;  border-radius: 4px; border: 1px solid #D1D5D9; font-size: 14px; color: #9E9E9E;} 
.border_st{margin: 24px 0; border: 4px solid #F2F4F5;}

/* 상품정보 */
#mypage_wrap .product_information_wrap{}
#mypage_wrap .product_information_box h2{margin-bottom: 24px; font-size: 16px; color: #000; font-weight: 700; line-height: 19px;}
#mypage_wrap .product_information_box dl{margin-bottom: 8px; display: flex; justify-content: space-between;}
#mypage_wrap .product_information_box dl:nth-last-of-type(1){margin-bottom: 12px;}
#mypage_wrap .product_information_box dl dt{font-size: 14px; line-height: 16px; color: #737373;}
#mypage_wrap .product_information_box dl dd{font-size: 14px; line-height: 16px; color: #000;}
.com_link01{position: relative; padding-right: 16px; display: block; font-size: 14px; font-weight: 500; color: #36B6B0; text-align: right;}
.com_link01::after{content: ''; position: absolute; top: 3px; right:0; width: 6px; height: 10px; background: url(../images/my/arrow_icon4.svg)no-repeat;}
.com_link01:hover{text-decoration: underline;}
#mypage_wrap .product_information_wrap .border_st{margin-top: 28px ;}

/* 공지사항 */
#mypage_wrap .notice_wrap .notice_list li a{position: relative; display: block; padding: 20px 30px 20px 0; border-top: 1px solid #E6E8EB;}
#mypage_wrap .notice_wrap .notice_list li a::after{content: ''; position: absolute; right:0; top: 50%; transform: translateY(-50%); width: 6px; height: 10px; background: url(../images/my/arrow_icon5.svg)no-repeat;}
#mypage_wrap .notice_wrap .notice_list li:first-child a{border-top: 0;}
#mypage_wrap .notice_wrap .notice_list li:last-child a{border-bottom: 1px solid #E6E8EB;}
#mypage_wrap .notice_wrap .notice_list li a h2{margin-bottom: 6px; font-size: 16px; font-weight: 600; color: #000; line-height: 24px;}
#mypage_wrap .notice_wrap .notice_list li a span{display: block; color: #9E9E9E; font-size: 11px; line-height: 13px;}
#mypage_wrap .notice_wrap .notice_list li a em{display: block; margin-bottom: 6px;  font-size: 12px; font-weight: 600;}
#mypage_wrap .notice_wrap .notice_list li a .emergency{color: #F56D4C;}
#mypage_wrap .notice_wrap .notice_list li a .common{color: #737373;}
#mypage_wrap .notice_wrap .notice_info_tit{margin-bottom: 24px; padding-bottom: 24px; border-bottom: 1px solid #E6E8EB;}
#mypage_wrap .notice_wrap .notice_info_tit span{margin-bottom: 8px; display: block; font-size: 14px; line-height: 16px; color: #737373;}
#mypage_wrap .notice_wrap .notice_info_tit h2{font-size: 18px; color: #000; line-height: 26px;}
#mypage_wrap .notice_wrap .notice_info_content{margin-bottom: 24px; padding-bottom: 50px; border-bottom: 1px solid #E6E8EB}
#mypage_wrap .notice_wrap .notice_info_content .img{margin-bottom: 24px; height: 194px;}
#mypage_wrap .notice_wrap .notice_info_content P{margin-bottom: 25px;}
#mypage_wrap .notice_wrap .notice_info_content P,
#mypage_wrap .notice_wrap .notice_info_content ul li{font-size: 14px; color: #737373; line-height: 24px;}
#mypage_wrap .notice_wrap .notice_info_content + h3{margin-bottom: 16px; font-size: 16px; color: #000; font-weight: 700; line-height: 19px;}
#mypage_wrap .notice_wrap .link{position: relative; display: block; width: 183px; height: 36px; line-height: 34px; border-radius: 4px; text-align: left; padding-left: 16px; background-color: #F2F4F5; font-size: 14px; letter-spacing:-1px;}
#mypage_wrap .notice_wrap .link::after{content: ''; width: 6px; height: 10px; position: absolute; right:22px; top: 50%; transform: translateY(-50%); background: url(../images/my/arrow_icon1.svg)no-repeat;}

/* 예약내역 */
.com_tab{align-items: center; display: flex; }
.com_tab li{flex: 1;}
.com_tab li a{display: block; height: 42px;  text-align: center; font-size: 16px; color: #BDBDBD; font-weight: 600; border-bottom: 1px solid #E6E8EB;}
.com_tab li a.active{color: #000; border-bottom: 2px solid #000; }
.com_rayout_list1{margin-bottom: 24px; display: flex; height: 49px; align-items: center; border-bottom: 1px solid #E6E8EB;}
.com_rayout_list1 li{position: relative; display: flex; justify-content: space-between; padding:0 16px; flex: 1;}
.com_rayout_list1 li::after{content: ''; position: absolute; top:1px; right:0; width: 1px; height: 13px; background-color: #E0E0DF; }
.com_rayout_list1 li:last-child::after{display: none;}
.com_rayout_list1 li span{font-size: 14px; color: #737373;}
.com_rayout_list1 li em{font-size: 14px; font-weight: 600; color: #000;}
#mypage_wrap .reservation_list_box .date_box{margin-bottom: 8px; display: flex; gap: 0 18px; align-items: center;}
#mypage_wrap .reservation_list_box .date_box .date{display: block; font-size: 14px; color:#737373; line-height: 17px;}
#mypage_wrap .reservation_list_box .date_box em{position: relative; font-size: 12px; color: #1E5DE3; font-weight: 700;}
#mypage_wrap .reservation_list_box .date_box em::before{content: ''; position: absolute; top: 50%; transform: translateY(-50%); left:-10px; width: 3px; height: 3px; border-radius: 50px; background-color: #1E5DE3;} 

#mypage_wrap .reservation_list_box .reservation_list li:last-child{margin-bottom: 24px;}
#mypage_wrap .reservation_list_box .reservation_list li{position: relative; padding: 18px 0 18px 18px; margin-bottom: 8px; border: 1px solid #E6E8EB; border-radius: 8px;}
#mypage_wrap .reservation_list_box .reservation_list li h2{margin-bottom: 8px; font-size: 16px; font-weight: 700; line-height: 19px;}
#mypage_wrap .reservation_list_box .reservation_list li > dl{margin-bottom: 6px; display: flex; gap: 0 16px;}
#mypage_wrap .reservation_list_box .reservation_list li > dl dt{font-size: 14px; color: #9E9E9E; line-height: 17px;}
#mypage_wrap .reservation_list_box .reservation_list li > dl dd{font-size: 14px; color: #000; line-height: 17px;}
#mypage_wrap .reservation_list_box .reservation_list li .close{display: block; position: absolute; top:24px; right:24px; background: url(../images/my/close.svg)no-repeat;width: 18px; height: 18px; border: 0; cursor: pointer;}
#mypage_wrap .reservation_content_box{position: relative; min-height: 350px;}
#mypage_wrap .reservation_content_box .no_reservation{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 16px; line-height: 28px; color: #9E9E9E; text-align: center;}
#mypage_wrap .reservation_wrap .cancel{display: block; margin-top: 65px; height: 50px; line-height: 48px; text-align: center; font-size: 14px; color: #fff; background-color: #303538; border-radius: 6px;}
.com_history_wrap{margin: 29px 0 21px; display: flex; justify-content: center; gap: 0 39px; align-items: center;}
.com_history_wrap strong{font-size: 20px; font-weight: 700; line-height: 24px; color: #000;}
.com_history_wrap button{padding: 0; display: block; width: 7px; height: 10px;}
.com_history_wrap button.prev{background: url(../images/my/prev.svg)no-repeat;}
.com_history_wrap button.next{background: url(../images/my/prev.svg)no-repeat; transform: rotate(180deg);}
.com_btn3{display: block; margin: 30px auto 0; width: 343px; height: 48px; line-height: 46px; border-radius: 50px; border: 1px solid #D1D5D9; font-size: 16px; font-weight: 500; color: #424242; text-align: center;}

/* 출퇴근 내역 */
#mypage_wrap .commute_wrap .calendar_wrap{margin-bottom: 32px;}
#mypage_wrap .commute_wrap .calendar{width: 100%; text-align: center;}
#mypage_wrap .commute_wrap .calendar thead tr th{height: 36px; font-size: 14px; line-height: 22px; color: #737373; font-weight: 400;}
#mypage_wrap .commute_wrap .calendar tbody tr td{padding: 8px 0; margin-bottom: 16px; width: 36px; height: 36px; font-size: 16px; line-height: 24px; color: #000;}
#mypage_wrap .commute_wrap .commute_box span{display: block; margin-bottom: 8px; font-size: 14px; color: #737373; line-height: 17px;}
#mypage_wrap .commute_wrap .commute_box .box{padding: 18px; border: 1px solid #E6E8EB; border-radius: 8px;}
#mypage_wrap .commute_wrap .commute_box .box dl{margin-bottom: 6px; display: flex; justify-content: space-between;}
#mypage_wrap .commute_wrap .commute_box .box dl dt{color: #737373; font-size: 14px; line-height: 16px;}
#mypage_wrap .commute_wrap .commute_box .box dl:last-child{margin-bottom: 0;}
#mypage_wrap .commute_wrap .commute_box .box dl dd{font-size: 14px; line-height: 17px; color: #000;}
#mypage_wrap .commute_wrap .commute_box.st span{position: relative; padding-left: 7px;}
#mypage_wrap .commute_wrap .commute_box.st span::before{content: ''; position: absolute; top:5px; left:-15px; width: 8px; height: 8px; border-radius: 50px; background-color: #9EA7AD;}
#mypage_wrap .commute_wrap .commute_box.st{padding-left: 11px; position: relative;}
#mypage_wrap .commute_wrap .commute_box.st::before{content: ''; position: absolute; top:8px; bottom:115px; left:0; width: 1px; background-color: #D1D5D9;}
#mypage_wrap .commute_wrap .commute_box li{margin-bottom: 24px;}






/* 공통 */
.com_check_box{margin-bottom: 37px;}
.com_check_box input:checked + label::before{content: '\2713'; text-align: center; line-height: 17px;}
.com_check_box input + label{position: relative; padding-left: 31px; color: #737373; font-size: 14px; line-height: 17px; cursor: pointer;}
.com_check_box input + label::before{content: ''; position: absolute; top:50%; left:0; transform: translateY(-50%); width: 20px; height: 20px; border-radius: 4px; border: 1px solid #D1D5D9}

/* 팝업 */
/* 팝업_비밀번호 변경 */
.popup_bg{display: none; position: fixed; left:0; right:0; bottom: 0; top:0; background-color: rgba(0,0,0,.2);}
.popup{display: none; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); width: 330px; height: 202px; border-radius: 12px; background-color: #fff; padding: 40px 24px 24px; text-align: center; z-index: 9;}
.popup h2{margin-bottom: 16px; font-size: 20px; color: #000; line-height: 28px; font-weight: 700;}
.popup p{margin-bottom: 24px; font-size: 14px; color: #737373; line-height: 22px;}
.popup a{height: 48px;}

/* 팝업_예약취소 */
.popup2{display: none; padding: 24px; position: fixed; left: 50%; top :50%; transform: translate(-50%, -50%); background-color: #fff; border-radius: 12px; width: 330px; height: 291px; z-index: 9;}
.popup2 p{margin-bottom: 24px; padding-bottom: 24px; font-size: 20px; line-height: 28px; font-weight: 700; color: #000; border-bottom: 1px solid #E6E8EB; }
.popup2 dl{display: flex; justify-content: space-between; margin-bottom: 8px;}
.popup2 dl:nth-last-of-type(1){margin-bottom: 24px;}
.popup2 dl dt{font-size: 14px; color: #000; line-height: 16px;}
.popup2 dl dd{font-size: 14px; color: #000; line-height: 16px;}
.popup2 .no_reservation_btn{display: block; height: 48px; line-height: 46px; text-align: center; border: 1px solid #D1D5D9; border-radius: 4px; font-size: 16px; font-weight: 500; color: #F56D4C;} 
.popup2 .popup_close{position: absolute; top:29px; right:29px; width: 16px; height: 16px; background: url(../images/my/close_icon.svg)no-repeat;}  